:root {
    --blue: #90b3b0;
    --beige: #e9e2d7;
    --ligh-brown: #e1b894;
    --mid-brown: #a1887f ;
    --dark-brown: #704523;
    --orange: #ff9800; 
}

body{
    background-color: var(--beige);
    /* background-image: url("../Images/back4.jpg");
    background-size: cover; */
    color: var(--dark-brown);
}
.nav{
    background-color: var(--blue);
}

.logo, .link{
    color: var(--beige);
}

.foot{
    background-color: var(--mid-brown);
    color: var(--beige);
}

.cardcont{
    background-color: var(--blue);
    color: var(--dark-brown);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}