:root {
    --blue: #b1c5c3;
    --beige: #e9e2d7;
    --ligh-brown: #e1b894;
    --mid-brown: #a1887f ;
    --dark-brown: #704523; 
}

body{
    background-color: var(--beige);
    color: var(--dark-brown);
}
.nav{
    background-color: var(--blue);
}

.foot{
    background-color: var(--mid-brown);
    color: var(--beige);
}

.cardcont{
    background-color: var(--blue);
    color: var(--dark-brown);
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}