/*color chart*/
:root {
    --blue: #b1c5c3;
    --beige: #e9e2d7;
    --ligh-brown: #e1b894;
    --mid-brown: #a1887f;
    --dark-brown: #704523;
    --orange: #ff9800;
    
}
/**/
body{
    background-color: var(--beige);
    color: var(--dark-brown);
}
.nav{
    background-color: var(--blue);
}

.foot{
    background-color: var(--mid-brown);
    color: var(--beige);
}

.cardcont{
    background-color: var(--blue);
    color: var(--dark-brown);
}

#firstrow, .leftside, .rightside{
    height: 400px; /*remove ones design finalized*/
}

#secondrow, .cardcont{
    height: 200px; /*remove ones design finalized*/
    
}

#footersection{
    height: 200px; /*remove ones design finalized*/
}

.cardcont{
    justify-content: center;
}

.card {
    background-color: grey;
    color: var(white);
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 15px goldenrod;
}

.dog-image {
    width: auto;
    max-height: 70%;
}