/*color chart*/
:root {
    --blue: #b1c5c3;
    --light-blue: #bec9c8;
    --dark-blue: #ced1d1;
    --beige: #e9e2d7;
    --mid-brown: #a1887f;
    --dark-brown: #704523;
    --orange: #ff9800;
    
}

body{
    background-color: var(--beige);
    color: var(--dark-brown);
}
.nav{
    background-color: var(--blue);
}

.foot{
    background-color: var(--mid-brown);
    color: var(--beige);
}

.leftside{
    background-color: var(--light-blue);
}

.rightside{
    background-color: var(--dark-blue);
}

.cardone{
    background-color: var(--light-blue);
}

.cardtwo{
    background-color: var(--dark-blue);
    color: var(--dark-brown);
    justify-content: center;
}

#firstrow, .leftside, .rightside{
    height: 400px; /*remove ones design finalized*/
} 

#secondrow, .cardone, .cardtwo{
    height: 200px; /*remove ones design finalized*/
    
}

#footersection{
    height: 200px; /*remove ones design finalized*/
}

.dog-image {
    width: auto;
    max-height: 70%;
}