body{
    background-color: tan;
}

#firstrow, .leftside, .rightside{
    height: 400px; /*remove ones design finalized*/
}

#secondrow, .cardcont{
    height: 200px; /*remove ones design finalized*/
    
}

#footersection{
    height: 200px; /*remove ones design finalized*/
}

.cardcont{
    justify-content: center;
}

.card {
    background-color: grey;
    color: var(white);
    position: relative;
    flex: 1;
    max-width: 300px;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 15px goldenrod);
}